$primary: #cbb26a;
$secondary: #d8c690;
$tertiary: #be9e44;
$success: #5cb85c;
$warning: #f0ad4e;
$danger: #d7251f;
$info: #5bc0de;
$light: #f7f7f7;
$dark: #292b2c;
$white: #fff;
$transparent: transparent;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
