@use '../../abstracts' as *;
// card-info
.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
  transition-duration: 500ms;
  border: 2px solid $info;
  border-radius: 0.25rem;
  box-shadow: darken($info, 20%) 0px 0px 10px;
}

.card-info:hover {
  transform: scale(1.05);
}

@media (prefers-reduced-motion) {
  .card-info:hover {
    transform: none;
  }
}

.card-title-info {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 400;
  color: $info;
}

.card-description-info {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: $info;
}

.card-documentation-info {
  margin-top: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-decoration-line: underline;
  -webkit-text-decoration-line: underline;
  text-decoration-style: dotted;
  -webkit-text-decoration-style: dotted;
  text-underline-offset: 2px;
  color: $info;
}
.card-link-info {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-decoration-line: underline;
  -webkit-text-decoration-line: underline;
  text-decoration-style: dotted;
  -webkit-text-decoration-style: dotted;
  text-underline-offset: 2px;
  color: $info;
  &:hover {
    color: lighten($info, 10%);
    text-shadow: lighten($info, 10%) 0px 0px 10px;
  }
}
// card-info-end
