@use '../../abstracts' as *;
// card-warning
.card-warning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
  transition-duration: 500ms;
  border: 2px solid $warning;
  border-radius: 0.25rem;
  box-shadow: darken($warning, 20%) 0px 0px 10px;
}

.card-warning:hover {
  transform: scale(1.05);
}

@media (prefers-reduced-motion) {
  .card-warning:hover {
    transform: none;
  }
}

.card-title-warning {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 400;
  color: $warning;
}

.card-description-warning {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: $warning;
}

.card-documentation-warning {
  margin-top: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-decoration-line: underline;
  -webkit-text-decoration-line: underline;
  text-decoration-style: dotted;
  -webkit-text-decoration-style: dotted;
  text-underline-offset: 2px;
  color: $warning;
}
.card-link-warning {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-decoration-line: underline;
  -webkit-text-decoration-line: underline;
  text-decoration-style: dotted;
  -webkit-text-decoration-style: dotted;
  text-underline-offset: 2px;
  color: $warning;
  &:hover {
    color: lighten($warning, 10%);
    text-shadow: lighten($warning, 10%) 0px 0px 10px;
  }
}
// card-warning-end
